<!--Tabela-->
<div class="container p-2">
  <h3 class="font-weight-light mb-4">Gerenciamento</h3>

  <button class="btn btn-sm btn-danger mr-2" (click)="openModal(modcat, registerCat)">Categoria +</button>
  <button class="btn btn-sm btn-danger" (click)="openModal(template, registerForm)">Produto +</button>
  

  <div class="row mt-5">
    <div class="w-75">
      <h4 class="text-center font-weight-light">Produtos</h4>
      <div class="table-responsive mt-3">
        <table class="table table-light table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col"> 
                <div class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control border-secondary form-control-sm" placeholder="Filtrar" [(ngModel)]='listFilter'>
                  </div>
                </div>
              </th>
              <th scope="col">Categoria</th>
              <th scope="col">Marca</th>
              <th scope="col">Modelo</th>
              <th scope="col">Preço</th>
              <th scope="col">Opcões</th>
            </tr>
          </thead>
          <tbody *ngIf="products && products.length">
            <tr *ngFor="let product of products | filter: listFilter">
              <td>#</td>
              <td>{{product.categoryName}}</td>
              <td>{{product.brand}}</td>
              <td>{{product.model}}</td>
              <td>{{product.price}}</td>
              <td><img src="{{urlImg}}{{product.image}}" width="50%" alt="Imagem {{product.model}}"></td>
              <td>
                <button class="btn btn-sm btn-dark mr-1" tooltip="Editar" (click)="openModal(template)"><i class="fa fa-edit"></i></button>
                <button class="btn btn-sm btn-danger"><i class="fa fa-eraser" tooltip="Excluir"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!--Modal Produto-->
<div class="modal fade" tabindex="-1" role="dialog" bsModal #template="bs-modal" [config]="{backdrop:'static'}" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left font-weight-light">Produtos</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal(template, registerForm)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!--Registro-->
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputTitle">Título</label>
              <input type="text" class="form-control" id="inputTitle" formControlName="name" [ngClass]="{'is-invalid': registerForm.get('name').errors && registerForm.get('name').touched}">
              <div *ngIf="registerForm.get('name').hasError('required')" class="invalid-feedback">
                Campo obrigatório
              </div>
              <div *ngIf="registerForm.get('name').hasError('minlength')" class="invalid-feedback">
                Mínimo de 15 caracteres
              </div>
            </div>
            
            <div class="form-group col-md-3">
              <label for="inputBrand">Marca</label>
              <input type="text" class="form-control" id="inputBrand" formControlName="brand" [ngClass]="{'is-invalid': registerForm.get('brand').errors && registerForm.get('brand').touched}">
              <div *ngIf="registerForm.get('brand').hasError('required')" class="invalid-feedback">
                Campo obrigatório
              </div>
              <div *ngIf="registerForm.get('brand').hasError('minlength')" class="invalid-feedback">
                Mínimo de 2 caracteres
              </div>
            </div>

            <div class="form-group col-md-3">
              <label for="inputModel">Modelo</label>
              <input type="text" class="form-control" id="inputModel" formControlName="model" [ngClass]="{'is-invalid': registerForm.get('model').errors && registerForm.get('model').touched}">

              <div *ngIf="registerForm.get('model').hasError('required')" class="invalid-feedback">
                Campo obrigatório
              </div>
              <div *ngIf="registerForm.get('model').hasError('minlength')" class="invalid-feedback">
                Mínimo de 5 caracteres
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <label for="inputDescription">Descrição</label>
            <textarea id="inputDescription" class="form-control" cols="30" rows="3" formControlName="description" [ngClass]="{'is-invalid': registerForm.get('description').errors && registerForm.get('description').touched}"></textarea>
            <div *ngIf="registerForm.get('description').hasError('required')" class="invalid-feedback">
              Campo obrigatório
            </div>
            <div *ngIf="registerForm.get('description').hasError('minlength')" class="invalid-feedback">
              Mínimo de 15 caracteres
            </div>
          </div>
          <div class="form-row">
            <input type="hidden" formControlName="id">
            <div class="form-group col-md-2">
              <label for="inputPrice">Imagem</label>
              <table>
                <tr>
                  <td>
                    <button class="btn btn-danger" (click)="file.click()">Inserir</button>
                    <input type="file" #file id="inputImage" class="d-none" accept="image/*" (change)="onFileChange($event)" formControlName="image" [ngClass]="{'is-invalid': registerForm.get('image').errors && registerForm.get('image').touched}">
                  </td>
                </tr>
              </table>
              <div *ngIf="registerForm.get('image').hasError('required')" class="invalid-feedback">
                Campo obrigatório
              </div>
            </div>

            <div class="form-group col-md-2">
              <label for="inputPrice">Preço</label>
              <input type="number" class="form-control" id="inputPrice" formControlName="price" [ngClass]="{'is-invalid': registerForm.get('price').errors && registerForm.get('price').touched}">
              <div *ngIf="registerForm.get('price').hasError('required')" class="invalid-feedback">
                Campo obrigatório
              </div>
              <div *ngIf="registerForm.get('price').hasError('min')" class="invalid-feedback">
                Mínimo de R$1
              </div>
            </div>

            <div class="form-group col-md-3">
              <label for="inputState">Categoria</label>
              <select id="inputState" class="form-control" formControlName="categoryId" [ngClass]="{'is-invalid': registerForm.get('categoryId').errors && registerForm.get('categoryId').touched}">
                <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
              </select>
              <div *ngIf="registerForm.get('categoryId').hasError('required')" class="invalid-feedback">
                Campo obrigatório
              </div>
            </div>
            
            <div class="form-group col-md-1">
              <label for="inputAmount">Disponível</label>
              <input type="number" class="form-control" id="inputAmount" formControlName="amount" [ngClass]="{'is-invalid': registerForm.get('amount').errors && registerForm.get('amount').touched}">
              <div *ngIf="registerForm.get('amount').hasError('required')" class="invalid-feedback">
                Campo obrigatório
              </div>
              <div *ngIf="registerForm.get('amount').hasError('min')" class="invalid-feedback">
                Mínimo de 1 item
              </div>
            </div>

          </div>
          <button class="btn btn-sm btn-dark mr-1" tooltip="Cancelar"><i class="fa fa-window-close" aria-hidden="true"></i></button>
          <button type="submit" class="btn btn-sm btn-danger" [disabled]="!registerForm.valid" (click)="saveChangesP(template)" tooltip="Inserir"><i class="fa fa-plus" aria-hidden="true"></i></button>
        </form>
      </div>
      <div class="modal-footer">
        <p>form: {{registerForm.value| json}}</p>
      </div>
    </div>
  </div>
</div>

<!--Modal Categoria-->
<div class="modal fade" bsModal #modcat="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left font-weight-light">Categoria</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal(modcat, registerCat)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <form [formGroup]="registerCat">
          <div class="form-row">
            <div class="form-group">
              <label for="inputName">Nome</label>
              <input type="text" class="form-control" id="inputName" formControlName="name" [ngClass]="{'is-invalid': registerCat.get('name').errors && registerCat.get('name').touched}">
              <div *ngIf="registerCat.get('name').hasError('required')" class="invalid-feedback">
                Campo obrigatório
              </div>
              <div *ngIf="registerCat.get('name').hasError('minlength')" class="invalid-feedback">
                Mínimo de 5 caracteres
              </div>
            </div>
            <input type="hidden" formControlName="id">
          </div>
        </form>
      </div>
      <div class="model-footer">
        <button class="btn btn-sm btn-danger" [disabled]="!registerCat.valid" (click)="saveChangesC(modcat)"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <p>Form valide:{{registerCat.valid}}</p>
        <p>Values: {{registerCat.value | json}}</p>
      </div>
    </div>
  </div>
</div>


