/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import '../node_modules/ngx-toastr/toastr';
.preco {
    color: green !important;
}

thead>tr>th {
    cursor: pointer;
}
body {
    background-image: url('../../../fundo/dut.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.my-pagination .ngx-pagination a {
    background:  #ffffff77;
}
.my-pagination .ngx-pagination span {
    color:  #ffffff;
}
.my-pagination .ngx-pagination .current {
    background:  #ff00009d;
}