:host carousel-component{
    display: block;
    overflow: hidden;
    padding: 8vh 6vh;
    width: 100%;
    margin: 0 auto;
    margin-top: 2vh;
    filter: drop-shadow(0 0mm 6mm rgba(236, 4, 4, 0.877));
  }
  
  .button-toggle{
    font-size: 1.8vh;
    padding: 1vh;
    margin-bottom: 1vh;
  }
  h1{
    font-size: 3vh;
    font-weight: 200;
    color: #1976d2;
  }
  
  div{
      border:none !important;
    }
  .item-carousel{
    display: -ms-flexbox!important;
    display: -webkit-flex!important;
    display: flex!important;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 23vh!important;
    height: 20vh!important;
    top:0vh;
  }
  
  
  .item-carousel div,
  .item-carousel img{
    height: 100%;
    width: 100%;
  }
  .item-carousel div{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  p.show-code{
    color: #ab2300;
  }
  p{
    font-size: 1.8vh;
  }

  #catCarousel {
    background: linear-gradient(to left, #0000002c , #ffffff2a, #00000023 ) !important;
  }
  
  
  /* Small devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    h1{
      font-size: 2.5vh;
    }
    .button-toggle,
    p{
      font-size: 1.7vh;
    }
    .parameters-content {
      font-size: 1.7vh;
    }
  
  
  }
  
  
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    :host carousel-component{
      width: 60%;
    }
    .item-carousel{
      width: 28vh!important;
      height: 25vh!important;
    }
    h1{
      font-size: 2.7vh;
    }
    .button-toggle{
      font-size: 1.6vh;
    }
  
  }