 <carousel [isAnimated]="true" [showIndicators]="false">
  <slide *ngFor="let img of banners;">
        <img class="d-block w-100" src="{{img.url}}" alt="{{ img.alt | titlecase }}">
  </slide>
</carousel> 

 <div class="container mt-2 mb-4 bg-light" id="catCarousel" *ngFor="let category of categories">
  <h3 class="text-left font-weight-light fPer">{{category.name}}</h3>
  <carousel-component [mode]="'horizontal'" [morePairSlides]="moreSlides" [angle]="degree" (onReachEnd)="tes()" [autoPlay]="true" #topCarousel>
    <div><h1 class="text-danger">{{category.name}}</h1></div>
    <div class="item-carousel" *ngFor="let product of productByCategory(category)" >
      <div style="background-image: url({{urlImg}}{{product.image}});">
      </div>
    </div>
  </carousel-component>
</div>  
